@namespace HomeSite.Data.EF
<div>
    <script src="js/GetCurrentSensValues.js" asp-append-version="true"></script>
    <script type="text/javascript">
        start();
    </script>
    <div class="textcontentanno">🌡 Температура, C°:</div>
    <div id="curtemp" class="textvaluesbigtemp"></div>
    <div class="textcontentanno">💧 Влажность, %:</div>
    <div id="curhumi" class="textvaluesbighumi"></div>
    <div class="textcontentlink"><a href="">📈 График</a></div>
</div>
